{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    <strong>Bars :</strong>
                    <button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#bars">Ajouter</button>
                    <div id="bars" class="row" data-index="{{ form.bars|length > 0 ? form.bars|last.vars.name+1 : 0 }}" data-prototype="{{ include("foo/bar.html.twig", { form: form.bars.vars.prototype })|e("html_attr") }}">
                        {% for bar in form.bars %}
                            {{ include("foo/bar.html.twig", { form: bar }) }}
                        {% endfor %}
                    </div>
                    <strong>Items :</strong>
                    <button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#items">Ajouter</button>
                    <div id="items" class="row" data-index="{{ form.items|length > 0 ? form.items|last.vars.name+1 : 0 }}" data-prototype="{{ include("foo/item.html.twig", { form: form.items.vars.prototype })|e("html_attr") }}">
                        {% for item in form.items %}
                            {{ include("foo/item.html.twig", { form: item }) }}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(form, { "render_rest": false }) }}
            </div>
        </div>
    </div>
{% endblock %}
